/* ===== SIDEBAR FIXED ===== */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 100vh;
  background: #0d1627;
  color: white;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Không cuộn */
}

/* LOGO */
.sidebar .logo {
  width: 75px;
  margin-bottom: 20px;
}

/* TITLE */
.sidebar h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

/* MENU */
.sidebar-menu {
  width: 100%;
  padding: 0;
  margin-top: 20px;
}

.sidebar-menu a {
  display: block;
  padding: 12px 20px;
  margin: 8px 20px;
  text-align: center;
  background: transparent;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.2s;
}

.sidebar-menu a:hover,
.sidebar-menu a.active {
  background: #0ea5e9;
}

.sidebar .logo {
  width: 85px;
  height: 85px;
  object-fit: contain;
  margin-bottom: 15px;
}
